@import 'tailwindcss';


:root {
    --pink: #E3378D;
    --dark: hsl(0, 0%, 15%);
}

@theme {

        --color-pink: #E3378D;
        --color-dark: #262626;
}

::selection {
    background-color: var(--pink);
    color: white;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
}

h3 {
    font-size: 1.75rem;
    font-weight: 600;
}

h4 {
    font-size: 1.5rem;
    font-weight: 600;
}

h5 {
    font-size: 1.25rem;
    font-weight: 500;
}

h6 {
    font-size: 1rem;
    font-weight: 500;
}

p {
    font-size: 1rem;
    font-weight: 400;
}
@media (max-width: 640px) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.75rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    h4 {
        font-size: 1.25rem;
    }
    h5 {
        font-size: 1.1rem;
    }
    h6 {
        font-size: 0.95rem;
    }
    p {
        font-size: 0.95rem;
    }
}